<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hyperbolic</title>
    <link rel="stylesheet" href="~/CSS/Site.css">
    <link rel="stylesheet" href="~/CSS/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/CSS/gdweb-font/css/GDWeb-Font.css">
</head>
<body class="layout">
@Html.Partial("Navbar", new Navbar())
<div id="overlay" class="blackout blackout--overlay" style="display: none"></div>
<div style="margin: 10px 10px 10px 85px">
    @RenderBody()
</div>
</body>
</html>