@page
@using Hyperbolic.Entities
@using Hyperbolic.Utils
@model Index
<link rel="stylesheet" href="~/CSS/Index.css">
<div class="index--background"></div>
<button onclick="toggleDarkTheme()">Toggle Dark Theme</button>
<div class="index--content">
    <div class="index--content-list">
        <p class="index--content-list-header">Popular Levels</p>
        @{
            for (int i = 0; i < 5; i++)
            {
                await Html.RenderPartialAsync("Partials/LevelCard", new LevelInfoSmall
                {
                    Title = "levil " + i,
                    Author = "Alten",
                    Song = "what's a song",
                    BackgroundURL = "https://images.hdqwalls.com/download/rock-mountains-landscape-colorful-illustration-minimalist-rz-1920x1080.jpg",
                    Length = new TimeSpan(0, RNG.Next(0, 7), RNG.Next(0, 59)),
                    Downloads = RNG.Next(500, 5000),
                    Ratings = RNG.Next(-1000, 1000)
                });
            }
        }
    </div>
    <div class="index--main">h i</div>
    <div class="index--content-list">
        <p class="index--content-list-header">Recently rated Levels</p>
        @{
            for (int i = 0; i < 5; i++)
            {
                await Html.RenderPartialAsync("Partials/LevelCard", new LevelInfoSmall
                {
                    Title = "Level " + i,
                    Author = "Alten",
                    Song = "what's a song",
                    BackgroundURL = "https://images.hdqwalls.com/download/rock-mountains-landscape-colorful-illustration-minimalist-rz-1920x1080.jpg",
                    Length = new TimeSpan(0, RNG.Next(0, 7), RNG.Next(0, 59)),
                    Downloads = RNG.Next(500, 5000),
                    Ratings = RNG.Next(-1000, 1000)
                });
            }
        }
    </div>
</div>
