@using System.IO
@model Navbar

@{
    var avatar = await File.ReadAllBytesAsync(@"D:\pfp (2).png");
}

<link rel="stylesheet" href="~/CSS/Navbar.css">

<div id="Sidenav" class="sidenav">
    <a onclick="toggleNav()" draggable="false" style="cursor: pointer" class="sidenav--box-selection sidenav--bars">
        <div class="sidenav--element-text sidenav--dashboard">Dashboard</div>
        <i class="fas fa-bars"></i>
    </a>
    <a href="#" draggable="false" class="sidenav--box-selection sidenav--selected">
        <i class="fas fa-home"></i>
        <div class="sidenav--element-text">Home</div>
    </a>
    <a href="#" draggable="false" class="sidenav--box-selection">
        <i class="icon-Level"></i>
        <div class="sidenav--element-text">Levels</div>
    </a>
    <a href="#" draggable="false" class="sidenav--box-selection">
        <i class="icon-Rankings"></i>
        <div class="sidenav--element-text">Rankings</div>
    </a>
    <a href="#" draggable="false" class="sidenav--box-selection">
        <i class="icon-Community"></i>
        <div class="sidenav--element-text">Community</div>
    </a>
    <a href="#" draggable="false" class="sidenav--box-selection">
        <i class="fas fa-life-ring"></i>
        <div class="sidenav--element-text">Help</div>
    </a>
    <a href="#" draggable="false" class="sidenav--box-selection">
        <i class="fas fa-cog"></i>
        <div class="sidenav--element-text">Settings</div>
    </a>
    <a href="#" class="sidenav--box-selection sidenav--bars" style="left: 15px; bottom: 0; position: absolute">
        <img class="sidenav--avatar" src="https://pbs.twimg.com/media/EZ5sNavU0AMQ-sC?format=png&name=large" alt="">
        <div class="sidenav--element-text">Alten</div>
    </a>
</div>

<script>
    let toggled = false;

    function toggleNav()
    {
        let element = document.getElementById("Sidenav");

        if (!toggled)
            element.classList.add("sidenav--extend");
        else
            element.classList.remove("sidenav--extend");

        toggled = !toggled;
    }
</script>